# For `make term`
pyserial==3.5

# For embedded-proto package
# See https://github.com/Embedded-AMS/EmbeddedProto/blob/master/requirements.txt
Jinja2==3.0.3
MarkupSafe==2.0.1
protobuf==5.29.5
six==1.16.0
toposort==1.7
